@charset "UTF-8";

 body{
    background-color: rgb(158, 201, 162);
    font-family: Arial, Helvetica, sans-serif;
 }

  h1{
    color:rgb(23, 161, 16);

  }

  h1#principal{
    text-align: center;
    background-color: rgb(36, 176, 62);
    color: rgb(255, 255, 255);
  }

  h2{
    color: rgb(96, 121, 108);
  }

  .basico{
    color: rgb(93, 175, 90);

  }

  .intermediario{
    color:rgb(244, 240, 20) ;
  }

  .avancado{
   color: rgb(198, 19, 19);
  }